body{
  background: rgb(32, 32, 32);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{
  margin:0;
  padding:0;
}
.container{
 max-width: 50%;
 background: white;
 padding:20px;
 border-radius:4px;
 margin: 50px;
}
.header{
  background: rgb(241, 241, 241);
  display:flex;
  flex-wrap: nowrap;
  justify-content:space-between;
}
.header-logo{ 
  display:flex;
  justify-content: start;
  font-size:large;
}
.header-left{ 
  display:flex;
  justify-content: end;
}
#header-left-title{
  flex-direction: row;
  align-content: flex-end;
  font-size: smaller;
} 
.header-selector{
  list-style-type: none;
  display:inline-flex;
  align-content: flex-end;
} 
.header-theme{
  color:grey;
}
input.screen{
  border:0;
  display: flex;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 700;
  font-size: larger;

}
.keyboard{
  display: grid;
  border-radius: 5px;
  background:#e9e2e2ef;
  grid-gap: 10px 10px;
  justify-content: space-evenly;
}
.keyboard-first{
  margin-top:15px;
} 
/*
.keyboard-second{}
.keyboard-thir{}
.keyboard-fourth{}*/

.keyboard-fifth{
  margin-bottom:15px;
}
.keyboard-btn{
  background: white;
  border-radius:5px;
  width:50px;
  height: 30px;
  
}
.keyboard-btn__blue{
  background-color:rgb(38, 182, 170);
  color:white;
}
.keyboard-btn__double{
  width:105px;
  height:30px;
  font-weight: 700;
}
.keyboard-btn__red{
  background-color:rgb(255, 94, 0);
  color:white;
}

